@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

//USE MIXINS FOR BETTER CODE READABILITY AND PORTABILITY 
@mixin work-sans{
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
}

@mixin work-sans-bold{
    font-family: 'Work Sans', sans-serif;
    font-weight:700;
}