#app > footer{
    background-color: $deep-blue;
    color: $white;
    .footer-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;

        .footer-logo{
            img{
                width: auto;
                height: 48px;
            }

            margin-bottom: 17px;
        }

        .tagline{
            text-align: center;

            p{
                font-size: 22px;
                line-height: 36px;
            }

            :last-child{
                margin-bottom: 0px;
            }
        }
    }
    .footer-content{
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        row-gap: 56px;
        justify-content: space-between;

        @include breakpoint(lg down){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .footer-column{
            & > h4{
                color: #FFFFFF;
                margin-bottom: 55px;
                @include breakpoint(lg down){
                    margin-bottom: 25px;
                }
            }
            &.footer-left{
                display: flex;
                flex-direction: column;
                padding: 0;
                width: calc(100% - 336px);

                @include breakpoint(lg down){
                    max-width: 100%;
                    width: 100%;
                }
                
                #menu-footer-menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    flex-wrap: wrap;

                    @include breakpoint(lg down){
                        flex-direction: column;
                    }

                    > li {
                        @include breakpoint(lg down){
                            border-bottom: 1px solid $white;
                        }
                        
                        > a{
                            font-weight: 700;
                            color:$white;
                            padding: 0;
                            pointer-events: none;

                            @include breakpoint(lg down){
                                pointer-events: initial;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                @include font-primary-semi-bold;
                                padding: 12px 0px;
                            }

                            &:hover{
                                color:$white; 
                            }

                            &.dropdown-toggle{
                                &::after{
                                    display: none;

                                    @include breakpoint(lg down){
                                        display: inline-block;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-menu{
                        background: none;
                        min-width: unset;

                        @media screen and (min-width: 993px){
                            display: inline-block;
                        }

                        @include breakpoint(lg down){
                            padding-top: 0px;
                        }

                        > li {
                            a{
                                padding: 0;
                                color: $white;

                                &:hover, &:focus{
                                    color:lighten($white, 20%);
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
            &.footer-right{
                width: 280px;
                h6{
                    margin-bottom: 4px;
                }

                .subscribe-conatiner{
                    margin-bottom: 24px;
                    position: relative;

                    @include breakpoint(lg down){
                        margin-bottom: 16px;
                    }

                    .wpcf7-form{
                        p{
                            margin-bottom: 0;
                        }
                        
                        input[type="email"]{
                            width: 166px;
                            height: 40px;
                            border-radius: 20px;
                            font-size: 14px;
                            line-height: 24px;
                            padding: 8px 12px;
                            background: rgba(255,255,255,0.1);
                            border: 1px solid $white;
                            color: $white;
                            margin-right: 8px;

                            @include breakpoint(lg down){
                                width: 100%;
                                border-radius: 8px;
                                margin-bottom: 8px;
                            }
                        }

                        input[type="submit"]{
                            width: calc(100% - 174px);

                            @include breakpoint(lg down){
                                width: 100%;
                            }
                        }

                        .wpcf7-spinner{
                            position: absolute;
                            bottom: 8px;
                            right: 41px;
                            margin: 0;

                            @include breakpoint(lg down){
                                bottom: 8px;
                                right: auto;
                                left: calc(50% - 12px);
                            }
                        }

                        &.submitting{
                            input[type="submit"]{
                                opacity: 0.6;
                            }
                        }

                    }
                }

                @include breakpoint(lg down){
                    margin-left: 0;
                    width: 384px;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

            }
        }
    }
    .footer-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $white;
        padding: 24px 0px;
        

        .copy-right-text{
            .copy-r{
                margin-bottom: 0;
            }
        }

        .footer-page-links{
            display: flex;
            column-gap: 16px;

            a{
                color: $light-blue;
            }
        }

        @include breakpoint(lg down){
            flex-direction: column;
        }
    }
}