$button-border-radius: 3px;
$header-footer-container-max-width:1180px;
$page-builder-container-max-width:1180px;
$page-builder-row-vertical-padding: 100px;
$page-builder-row-vertical-padding-mobile: 50px;
$spacing-between-modules:32px;