$button-border-radius: 3px;
$page-builder-row-vertical-padding: 60px;
$page-builder-row-vertical-padding-mobile: 40px;
$spacing-between-modules:40px;
$project-card-width:399px;
$value-cards-gap:22px;
$timeline-dot-width:29px;
$timeline-card-spacing--mobile: 55px;
$color-swatch-column-gap: 20px;