button, .cta-button {
    border-radius: $button-border-radius;
}

.cta-button{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $white;
    background: $blue;
    display: inline-block;
    @include font-primary-semi-bold;
    border-radius: 20px;
    height: 40px;

    &:hover{
        color: lighten($white, 20%);
    }

    &.primary, &.secondary{
        padding: 8px 12px;
        border: 1px solid;
    }

    &.primary{
        background: $blue;
        border-color: $blue;
    }

    &.secondary{
        background-color: transparent;
        border-color: $blue;
    }
}