button, .cta-button {
    border-radius: $button-border-radius;
}

body .cta-button, body a.cta-button{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $white;
    background: $blue;
    display: inline-block;
    @include font-primary-semi-bold;
    border-radius: 20px;
    height: 40px;

    &:hover{
        color: lighten($white, 20%);
    }

    &.primary, &.secondary{
        padding: 8px 20px;
        border: none;
    }

    &.primary{
        background: $blue;
    }

    &.secondary{
        background-color: $light-blue-2;
        color: $dark-gray;
    }

    @include breakpoint(lg down){
        border-radius: 8px;
    }
}