.card-grid-container{
    .result-content{
        .cards-inner{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 38px;            

            @include breakpoint(lg down){
                justify-content: center;
            }

            &.columns-{
                &1, &2{
                    .fr-card{
                        width: calc(100%/2 - 38px/2);
                        min-height: 379px;

                        .card-inner{
                            flex-direction: row;

                            .card-content{
                                padding-bottom: 48px;
                                justify-content: center;
                                align-items: center;

                                .wysiwyg-content{
                                    height: auto;

                                    .card-header{
                                        padding: 48px 24px 0;
                                    }

                                    .card-body{
                                        padding: 0 24px;
                                    }

                                    .card-footer{
                                        padding: 0 24px;
                                    }
                                }
                            }
                        }

                        .featured-image{
                            min-width: 45%;
                            width: 45%;
                            
                            &::after{
                                background-image: url("../images/card-v-wave.svg");
                                width: 32px;
                                right: 0;
                                height: 100%;
                            }

                            &.default{                                
                                img{
                                    width: 107px;
                                }
                            }
                        }
                    }
                }

                &3{
                    .fr-card{
                        width: calc(100%/3 - 76px/3);

                        .featured-image{
                            height: 191px;
                        }

                        &.card-type-{
                            &camp{
                                .featured-image{
                                    height: 266px;
                                }
                            }
                        }
                    }
                }

                &4{
                    .fr-card{
                        width: calc(100%/4 - 114px/4);

                        .featured-image{
                            height: 167px;
                        }

                        &.card-type-{
                            &team-member{
                                .featured-image{
                                    height: 247px;
                                }
                            }
                        }
                    }
                }
            }

            .fr-card{
                @include breakpoint(lg down){
                    width: 100%;
                }
            }
        }

    }

    .spinner-container{
        position: absolute;
    }

    .ajax-running-container,
    .no-results-found-container {
        display: none;
        height: max-content;
        width: 100%;
    }

    .load-btn-container, .ajax-running-container {
        margin-top: 75px;
    }

    .load-btn-container {
        height: max-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .cta-button{
            min-width: 178px;
            text-align: center;
        }
    }

    .ajax-running-container {
        text-align: center;

        span{
            @include font-primary;
            font-size: 20px;
            font-style: italic;
            line-height: 50.3px;
        }
    }

    &[fr-status='ajax-running']{
        .ajax-running-container {
            display: block;
        }

        .load-btn-container {
            display: none;
        }
    }

    &[fr-status='loading-result'] {
        .ajax-running-container, .load-btn-container {
            display: none;
        }

        .cards-container {
            opacity: 0.4;
        }

        .spinner-container {
            display: block;
        }
    }

    &[fr-status='no-more-results'] {
        .load-btn-container {
            display: none;
        }
    }

    &[fr-status='no-results-found'] {
        .load-btn-container, .cards-container {
            display: none;
        }

        .no-results-found-container {
            display: block;
        }

        .card-type-publish-button{
            display: none;
        }
    }    
}