.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: -$footer-wave-height;
    margin: auto;
    height: $footer-wave-height;
    @include breakpoint(lg down){
        top: -105px;
    }
    //transform: rotate(180deg);
    .wave {
        position: absolute;
        width: 100%;
        /*height from the svg file*/
        height: 140px;
        bottom: 0;
        left: 0;
        background: url("../images/footer-wave.svg");
        animation: waves 10s linear infinite;
        @include breakpoint(lg down){
            background-size: 100% 100%;
        }
        @include breakpoint(sm down){
            animation: waves 40s linear infinite;
        }
            
        &:before {
            content:'';
            width: 100%;
            height: 140px;
            background: url("../images/footer-wave.svg");
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.3;
            animation: waves-reverse 10s linear infinite;
            
            @include breakpoint(lg down){
                background-size: 100% 100%;
            }
            @include breakpoint(sm down){
                animation: waves-reverse 40s linear infinite;
            }
            
        }
      
        &:after {
            content:'';
            width: 100%;
            height: 140px;
            background: url("../images/footer-wave.svg");
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            animation-delay: -5s;
            animation: waves 20s linear infinite;
            @include breakpoint(lg down){
                background-size: 100% 100%;
            }
            @include breakpoint(sm down){
                animation: waves 80s linear infinite;
            }
        }
    }
}

  
  
  @keyframes waves {
    0% {
      background-position: 0;
    }
    100% {
      /* from width of the svg file */
      background-position: 1600px;
    }
  }
  
  @keyframes waves-reverse {
    0% {
      background-position: 1600px;
    }
    100% {
      background-position: 0;
    }
  }