
#main {
    form.wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 816px;
        margin: auto;

        .wpcf7-form-control-wrap{
            display: block;
        }

        p{
            margin-bottom: 0px;
        }

        .row {
            display: flex;
            flex-direction: row;
            gap: 38px;
            margin: 0;
            width: 100%;
            margin-bottom: 16px;

            @include breakpoint(md down) {
                flex-direction: column;
                gap: unset;
            }

            .col-12{
                padding: 0;
                width: 100%;
            }

            .col-6{
                padding: 0;
                width: calc((100% - 38px) / 2);

                @include breakpoint(sm down) {
                    width: 100%;
                }
            }
        }

        label {
            height: 24px;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 24px;
            width: 100%;
            display: inline-block;
        }

        .wpcf7-text {
            @include input-styles;
        }

        textarea {
            @include input-styles;
            height: 114px;
        }

        [type="submit"] {
            float: right;
            width: 190px;

            @include breakpoint(md down) {
                width: 100%;
            }
        }

        .submit-container{
            position: relative;

            .wpcf7-spinner {
                position: absolute;
                right: 20px;
            }
        }
    }
}

.module {
    &.contact-us-form{
        max-width: 1026px;

        h1, h2, h3, h4, h5, h6{
            margin-bottom: 0;
        }
    }
}