.image-carousel-module{
    .image-carousel-container{
        width: 100%;
        
        .image-carousel{
            width: 100%;
            padding : 8px 0;
            .splide__arrow{
                svg{
                    fill: #fff;
                }
            }
            .splide__arrow {
                height: 32px;
                width: 32px;
                background: $blue;
            }
            .splide__slide{
                img{
                    width: 100%;
                    height:100%;
                    max-height: 705px;
                    @include breakpoint(md down){
                        max-height: 268px;
                    }
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                }
            }            
        }
        .thumbnail-carousel 
        {
            width: 100%;
            .splide__slide{
                width: calc((100% - 32px ) / 5) !important;
                img{
                    width: 100%;
                    height:96px;
                    max-height: 96px;
                    @include breakpoint(md down){
                        max-height: 42px;
                    }
                    object-fit: cover;
                    object-position: center;
                    object-position: center;
                    border-radius: 7.75px;
                }
                &.is-active{
                    border: none !important;
                    img{
                        border: 3px solid $blue !important;
                        border-radius: 7.75px !important;
                    }
                }
            }            
        } 
    }
}
