.wysiwyg-module{
    >.container{
        >.row{
            >.col{
                flex-basis: 25%;
            }
            .col-width-1_4{
                flex: 0 0 25%;
            }
            .col-width-2_4{
                flex: 0 0 50%;
            }
            .col-width-3_4{
                flex: 0 0 75%;
            }
            .col-width-4_4{
                flex: 0 0 100%;
            }
        }
    }
}