.featured-cards-module {
    .card-grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    
    .result-content {
        width: 100%;
    
    .cards-container {
        display: flex;
        flex-wrap: wrap; 

        .fr-card {
            background-color: $light-green;
            margin: 0;
            border-radius: 0;
            width: 33.3%;
            border-width: 1px 0px 1px 1px;
            border-style: solid;
            border-color: $dark-green;

            @include breakpoint(sm down) {
                width: 100%;
                border-width: 1px;
            } 

            &:last-child {
                border-right: 1px solid $dark-green;
            }

            &:hover {
                transform: none;
                background-color: $blue;
            }

            .card-inner {
            
            .card-content {

                .wysiwyg-content {
                    font-weight: bolder;
                    display: flex;
                    align-items: center;
                

                .card-header {
                    margin-bottom: 10px;
                    //  color: #C5E6DC;
                    a {
                        text-decoration: none;
                    
                        .card-title {
                            display: inline-block;
                            color: $light-shade;
                        }
                    }
                
                   

                    .card-title {
                        border: 1px;
                        color: $light-shade;
                        @include Roboto;
                        margin: 0;
                        font-size: 26px;
                        line-height: 20px;
                        align-items: center;
                    }
                }

                .card-body {
                    margin-bottom: 10px;
                    color: $light-shade;

                    .excerpt {
                        font-size: 22px;
                        line-height: 28px;
                        margin: 0px;
                    }
                }

                .card-footer {
                    @include Roboto;
                    line-height: 28px;
                    align-items: center;
                    //   margin-top: 10px;
                    color: $white;
                    text-align: center;
                    align-self: center;

                    .cta-regular {
                        color: $white;
                        font-size: 18px;
                        line-height: 24px;
                        // padding-left:155px;
                    }

                    .cta-button {
                        height: 24px;
                        color: $white;
                        font-size: 30px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 24px;
                        //  margin-left: 110px;
                    }
                }}
            }
            }
          }
        }
      }
    }
  }
